

#AnchorPane{
    -fx-background-color: #5E5A4B;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}

#commandsPane{
    -fx-background-color: #E0E0DE;
    -fx-text-fill: white;
    -fx-alignment: CENTER;
}